{% extends 'home/index.html.twig' %}

{% block title %}Hello AnnonceController!{% endblock %}

{% block body %}
<style>
    body {
        background-color: skyblue;
    }
</style>

<div class="example-wrapper bg-grey" style="margin: 100px 0 0 0;">
    <h1>{{ voiture.modele }} ✅</h1>

    
</div>
{% endblock %}
